@-webkit-keyframes my {
    0% { color: #F8CD0A; } 
    50% { color: rgb(246, 12, 12);  } 
    100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: rgb(251, 14, 14);  }
    100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
    0% { color: #F8CD0A; } 
    50% { color: rgb(246, 13, 13); } 
    100% { color: #F8CD0A;  } 
}
@keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: rgb(248, 7, 7);  }
    100% { color: #F8CD0A;  } 
} 

.auction-list
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
    position: relative;
    left: 3%;
    top:15px;
}
.auction {
    position: relative;
}
.status {
    color: red;
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(228, 234, 228);
    padding: 2px 3px 2px 3px;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite; 
    -o-animation: my 700ms infinite; 
    animation: my 700ms infinite;
}
.auction-images
{
    display: flex;
    flex-direction: row;
    gap: 15%;
    justify-content: center;
  
}
.auction-info
{
    margin-top: 30px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lavender;
}
.auction-detail-info
{
    max-width: 60%;
}
.auction-time
{
    display: flex;
    flex-direction: column;
}
.countdown-time
{
    display: flex;
    flex-direction: row;
    gap: 7px;
    float:right;
    align-items: center;
}
.auction-time-element
{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
.colon{
  
    margin-bottom: 10%;
}
.auction-time-buttons
{
    display: flex;
    flex-direction: column;
}