.auction-card
{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color:beige;
}   
.auction-basic-info
{
    border: 0.5px solid;
    padding: 5px 5px 5px 5px;
    text-align: center;
   
}
.auction-basic-info h1
{
    font-size: 30px;
}
.auction-data
{
    display: flex;
    flex-direction:row;
}

.auction-data-base
{
    width: 50%;
    border: 0.5px solid;
    padding: 5px 5px 5px 5px;
    text-align: center;
    justify-items: center;
}
#num_item
{
    padding: 10;
}