.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blanchedalmond;
}
.nav
{
    min-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description
{
    margin-top: 25px;
    padding-top: 10px;
    max-width: 700px;
    text-align: left;
}
.description h1
{
    font-size: 25px;
    text-decoration: underline;

}