.stream-video {
    display: flex;
    flex-direction: column;
}

.register-button {
    align-self: flex-end;
}

.lot-list {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
   
}

.lot-info
{
    min-width: 250px;
    margin-right: 10px;
    max-height: 300px;
}

.bid-info-part{
    min-width: 30%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-6);
    justify-content: space-between;
}

.bid-info-part .list-bids{
    padding: 10px;
    max-height: 70%;
    background-color:var(--color-1);
    overflow-y: auto;
}
.bid-info-part .bid-function{
    padding-left:100px;
    padding-right: 10px;
    background-color: var(--color-6);
    align-self: center;
    float: right;
    width: 100%;
}

.auction-image {
    background-image: url('/public/images/aboutus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 45em;
    z-index: 0;
    filter: blur(8px);
    /* -webkit-filter: blur(5px); */
}
.info-position {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}