.stream-video {
    display: flex;
    flex-direction: column;
}

.register-button {
    align-self: flex-end;
}

.lot-list {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
   
}

.lot-info
{
    min-width: 250px;
    margin-right: 10px;
    max-height: 300px;
}

.bid-info-part{
    min-width: 30%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-6);
    justify-content: space-between;
}

.bid-info-part .list-bids{
    padding: 10px;
    max-height: 70%;
    background-color:var(--color-1);
    overflow-y: auto;
}
.bid-info-part .bid-function{
    padding-left:100px;
    padding-right: 10px;
    background-color: var(--color-6);
    align-self: center;
    float: right;
    width: 100%;
}